<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanboy.demo.pay">

    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.wallet.api.enabled"-->
            <!--android:value="true" />-->

        <activity android:name="com.jeanboy.demo.pay.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<receiver-->
            <!--android:name="com.google.android.gms.wallet.EnableWalletOptimizationReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.wallet.ENABLE_WALLET_OPTIMIZATION" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity android:name="com.jeanboy.demo.pay.LoginActivity"></activity>
    </application>

</manifest>